[submodule ".vim/bundle/rails"]
	path = .vim/bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/Command-T"]
	path = .vim/bundle/Command-T
	url = git://github.com/wincent/Command-T.git
